body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f6f9ff, #e0eaff, #fdfbfb);
    color: brown;
    font-weight: bold;
    background-image: url(https://img.freepik.com/premium-photo/colorful-blurred-light-background_9083-8302.jpg);
}

/* Header */
header {
    background: linear-gradient(135deg, #c2dae4de, #7bb2f1, #dcc2e1);
    color: white;
    padding: 30px 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation */
nav {
    background: linear-gradient(90deg, #92cae3de, #52769f, #18273d);
    padding: 12px;
    text-align: center;
    font-style: italic;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
    transition: 0.3s;
    color: black;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Sections */
section {
    padding: 40px;
    max-width: 900px;
    margin: 35px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease-in-out;
}

section h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #92d3f4, #7c9ae6, #2d488d);
    margin: 10px auto 0;
    border-radius: 5px;
}

h2 {
    color: black;
    text-align: center;
}

/* Cards */
.card {
    background: linear-gradient(135deg, #bcceef, #cfd0d1, #f3eadb);
    padding: 20px;
    border-radius: 12px;
    margin: 15px 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Forms */
input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Event Images */
.event-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.event-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.4s;
}

.event-images img:hover {
    transform: scale(1.05);
}

button {
    background: linear-gradient(90deg, #92d3f4, #7c9ae6, #2d488d);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.85;
}

/* Footer */
footer {
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    background: linear-gradient(90deg, #c2dae4de, #7bb2f1, #dcc2e1);
    color: white;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
